.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    height: 100%;
    padding: 20px;
    padding: 20px;
    overflow: auto;
}

.about-us img.about-us-title {
    max-height: 64px;
    padding-bottom: 20px;
}

.about-us img.about-us-team {
    max-width: 780px;
    width: 100%;
    padding-bottom: 20px;
}

.about-us p.about-us-text {
    max-width: 780px;
    width: 100%;
    font-size: 16px;
    text-align: justify;
    margin: 0px;
}
.about-us p.about-us-text._center {
    text-align: center;
}
.about-us p.about-us-text._right {
    text-align: right;
}
.about-us p.about-us-text._space {
    margin-top: 10px;
}
.about-us p.about-us-text._primary {
    color: #6fbf93;
}
.about-us p.about-us-text .link {
    color: #6fbf93;
}

.about-us p.about-us-text span {
    color: #6fbf93;
}
